<a href="https://colab.research.google.com/github/Katkins178/KendallA_DTSC3020_Fall2025/blob/main/Assignment2_ka0955.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
fruits = ['apple', 'banana', 'orange']
print(fruits)
for fruit in fruits:
    print(fruit)

['apple', 'banana', 'orange']
apple
banana
orange

In [2]:
names = ['Nira', 'Veronica', 'Godwill', 'Eni']
names [0] = 'Bolu'
print(names)

['Bolu', 'Veronica', 'Godwill', 'Eni']

In [4]:
vehicles = ['car', 'bus', 'train', 'bike', 'plane']
vehicles.append('boat')
print(vehicles)

['car', 'bus', 'train', 'bike', 'plane', 'boat']

In [5]:
foods = ['sushi', 'burrito', 'salad', 'pizza', 'pasta', 'burger' ]
del foods[3]
print(foods)

['sushi', 'burrito', 'salad', 'pasta', 'burger']

In [7]:
cities = ['Houston', 'Dallas', 'San Antonio', 'Austin']
cities.sort()
cities.sort(reverse=True)
print(cities) # Not reqired, but used to check

['San Antonio', 'Houston', 'Dallas', 'Austin']

In [5]:
animals = ['Eagle', 'Duck', 'Pigeon']
for animals in animals:
    print(animals)

Eagle
Duck
Pigeon

In [22]:
numbers = [1,2,3,4,5]
for numbers in numbers:
    print(numbers * 2)

2
4
6
8
10

In [23]:
friends = ['DeShawn', 'Malik', 'Aaliyah', 'Marcus','Darnell', 'Zuri' ]
for friendFirst in friends [:3]:
    print(friendFirst)
for friendLast in friends [3:]:
    print(friendLast)

DeShawn
Malik
Aaliyah
Marcus
Darnell
Zuri

In [24]:
for value in range (1,11):
  print (value)

1
2
3
4
5
6
7
8
9
10

In [26]:
numSquared = [value ** 2 for value in range (1,6)]
print(numSquared)

[1, 4, 9, 16, 25]